<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Drug Repurposing</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
{% load static %}
  <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
<link rel="stylesheet" href="/static/css/styles.css">
  
</head>

<body>
 <div>
	<h1 style="margin-top : 20px">Drug Repurposing</h1>
 </div>
  <div class = "new-class">

        <p> <a href="/dtilink"> <button class="btn btn-primary btn-large"> Predict Binding Affinity </button></a></p>
        <p> <a href="/repurpose"> <button class="btn btn-primary btn-large"> Drug Repurposing </button></a></p>
  </div>

 </div>

</body>
</html>
